@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
        * {
                font-family: 'SpaceGrotesk-Regular';
        }

        .font-bold {
                font-family: 'SpaceGrotesk-Bold';
        }

        .font-medium {
                font-family: 'SpaceGrotesk-Medium';
        }
}
